@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Monda&display=swap');
/*If i want CSS applied to the entire web page*/






/*formatting the header to cover the content inside*/
header {
    background-color: #334E58AD;
    width: 100%;
    height: 5%;
    text-align: center;
    margin: 0px;
    padding-bottom: 1%;
}

h1 {
    font-size: 35px;
    margin: 0px;
    padding: 15px;
    font-family: 'Julius Sans One', sans-serif;
    color: #40434E;
}

/*formatting of the navigation links in the header and making them in a visible box*/
nav {
    color: #40434E;
    background-color: #F7F9F9;
    padding: 10px 15px;
    border-radius: 15px; 
    max-width: 70%;
    font-family: 'Monda', sans-serif;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
    letter-spacing: 2px;
}

.subheading {
color: #4D2E3E;
font-family: 'Monda', sans-serif;
padding: 15px;
margin: 3px;
font-size: 16px;
}

main {
    background-color: #273F2D66;
    padding-top: 25px;
    padding-bottom: 25px;
    
}

div {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  text-align: center;
  padding-top: 2%;
}


/*Styling links*/
a:link {
    color: #4D2E3E;
}
a:visited {
    color: #273F2D;
}
a:hover {
    color: #AB7390;
  }
  
  a:active {
    color: blue;
  }

  /*formatting of the text in the main section*/


  /*using percentages as values to make my website more to screen size and resolution, these values are used to center the main text content*/
article {
    
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #40434E;
   
}

/*making the ruler lines */
hr {
    max-width: 66%;
}

h2 {
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    color: #40434E;
    padding-top: 25px;
    padding-bottom: 25px;
}

p {
    font-family: 'Monda', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
}
 
ul {
    list-style-position: inside;
    list-style-type: square;
    font-family: 'Monda', sans-serif;
}

/*code for the individual list items will cover both UL and OL unless differentiated*/
li {
    font-family: 'Monda', sans-serif;
    
}


 
/*Ordered list to indent and keep numbers with text*/
ol {
    font-family: 'Monda', sans-serif;
    text-align: center;
    list-style: none;
    flex-direction: row;
    display: flex;
}

/*footer designed to mirror the header*/
footer {
    background-color: #334E58DE;
    text-align: center;
    color: #4D2E3E;
    font-family: 'Monda', sans-serif;
    width: 100%;
    height: 60px;
    margin: 0px;
    padding-top: 25px;
   
}
.olli {
    margin: 0 40px 0 40px;
    align: center;
    display: flex;
}
/*padding to center the copyright info in the footer*/
footer > p {
    margin: 0px;
    padding-bottom: 25px;
    align-items: center;
    
}

form {
    margin: 30px;
    font-family: 'Monda', sans-serif;
    color: purple;
   display: flex;
   flex-direction: column;
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
    align-items: center;
    width: 100%;

}
input {
    margin: 0 40px 0 30px;
    width: 50%;
   
}
textarea{
    resize: none;
    padding: 10px;
    resize: auto;
    width: 80%;
    height: 130px;
    margin: 0 1px 0 8px;
}   
label {
    width: 100%;
    display: flex;
    padding: 10px;
}

button {
    align-items: right;
}